<!DOCTYPE html> 
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <title>Get Image Dimensions</title>
  </head>

  <body>
    <form method="POST" action="/upload/" enctype="multipart/form-data">
    <div class="container">
      <input type="file" id="img" name="file" accept="image/*" class="form-control" autocomplete="off" required>
      <p>
      <input type="submit" value="Submit" class="btn btn-info">
      </p>
    </form>
    <h2>Get Image Dimension - Python POST Request Example</h2>
      <pre>
      import requests

      filePath = "path/to/imagefile"
      file = {"file": open(filePath, "rb")}

      response = requests.post('https://imagedimen.onrender.com/upload', files=file)

      print(response.content)
      </pre>
  </body>

</html>
